.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
src/SPI_master_nandland.v
src/SPI_master_faramire.v
src/transfer.v
*.v.out
icestick/stopwatch.bin
icestick/stopwatch.blif
icestick/stopwatch.txt
